* {
  box-sizing: border-box
}
.App {
  font-size: 1em;
  padding: 10px;
}
.App_Header {
  font-weight: bold;
  padding: 0 5px;
}
.App_Input {
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 1em;
  width: 100%;
}
.App_Section {
  padding: 5px 0;
}
.App_Result {
  color: #008000;
  font-size: 2em;
}
.App_Calculate {
  background-color: #006eb2;
  border: 0;
  color: white;
  padding: 10px;
  font-size: 1em;
  margin: 10px 0;
}
input[type='text'] {
  font-size: 1em;
  width: 100%;
}
